/*The important tag overrides material UI's Button CSS */
.sidebar_tweet{
    /* If we want a cool gradient affect */
    /*background: linear-gradient(90deg, #755bea, #55e7fc) !important;*/
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900  !important;
    text-transform: capitalize !important; /*Makes the text regular case, instead of all uppercase by default */
    width: 100% !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

.sidebar_TwitterIcon{
    color: var(--twitter-color) !important;
    margin-left: 20px !important;
    font-size: 30px !important;
}

.sidebar{
    border-right: 1px solid var(--twitter-background); 
    flex: 0.2; /*Allows the side bar to use 30% of the screen*/
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (max-width: 1265px){
    .sidebar{
        flex: 0.01 !important; 
        padding-left: auto !important;
        padding-right: auto !important;
    }
    .sidebar_TwitterIcon{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .sidebar_tweet{
        display: none !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}